<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>youIT - программирование и карьера в IT</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
</head>
<body>

    <div class="header"> </div>

    <div class="mobile-menu">
        @await Component.InvokeAsync("MobileMenu")
    </div>

    <div class="wrapper">
        <div class="box top-menu">
            <div class="nav">
                <div class="logo">
                    <a href="#" class="mobile-menu-button" onclick="toogleSodeMenu()">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="/Home/Index">youIT</a>
                </div>
                <div class="menu">
                    @await Component.InvokeAsync("TopMenu")
                </div>
                <div class="login-bar">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Profile"><b>@User.Identity.Name</b></a>
                        <a asp-controller="Account" asp-action="SignOut">(Выйти)</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Profile">логин</a>
                    }
                </div>
                <div class="search">
                    <form id="searchForm" method="post" asp-action="Search" class="desktop">
                        <div style="position:relative;">
                            <input type="text" class="searchTerm" name="term" placeholder="Что ищем?">
                            <a href="#" onclick="document.getElementById('searchForm').submit();">
                                <i class="fa fa-search" style="color:#acacac; position:absolute; right:6px; top:3px;"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="box sidebar">side menu</div>

        @RenderBody()

        <div class="box footer">
            <div class="social-icons-wrapper">
                social icons
            </div>

            <a href="#">О проекте youIT</a>
            <span>|</span>
            <a href="#">Контакты</a>
            <span>|</span>
            <a href="#">Cookies</a>
            <span>|</span>
            <a href="#">Конфиденциальность</a>
            <span>|</span>
            <a href="#">Условия использования</a>
            <div class="copyright">
                ©2019 youit.co. Все права защищены. Полное или частичное копирование материалов сайта без согласования с редакцией запрещено.
            </div>
        </div>

        <script>
            toogleSodeMenu = () => {
                $('.mobile-menu').toggle();
            }
        </script>
    </div>
</body>
</html>
