@model List<Services.DTOs.CommentPreviewDto>

    <span style="font-size:22px;">&nbsp; Что сейчас обсуждают?</span>
<p></p>
@foreach (var comment in Model)
{
    <div style="margin-top:30px;">
        <img class="comment-ava" style="float:left;margin-right:10px; margin-top:5px;" src="https://storage.googleapis.com/youit/users/nophoto.jpg" />
        <span style="font-size:15px; ">
            <span style="color:#2d66a3;">@comment.UserName</span> <br />
            <span>@comment.PostTitle</span>
        </span>
        <div style="clear:both"></div>

        @{
            int last = comment.Text.Length > 120 ? 120 : comment.Text.Length;
            string url = $"/home/post/?url={comment.PostUrl}#{comment.CommentId}";
        }
        <div style="font-size:14px; padding-top:5px; font-style:italic;">
            <a href="@url">@comment.Text.Substring(0, last)...</a>
        </div>
    </div>
}
