
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="full-post">
   

    <a asp-controller="Account" asp-action="SignInGoogle">Авторизироваться через Google</a> <br />
    <a asp-controller="Account" asp-action="SignInGithub">Авторизироваться через Github</a> <br />

    <a href="#">Авторизироваться через Facebook</a> <br />
    <a href="#">Авторизироваться через Вконтакте</a> <br />

</div>