<div class="box full-post privacy">

    <h2>Политика о конфиденциальности</h2>
    <p style="color:#808080; font-style:italic;">Последнее обновление 02 Декабря 2019</p>
    <p>
        Администрация сайта youit.pro обязуется сохранять вашу конфиденциальность в Интернете.
        Мы уделяем большое значение охране предоставленных вами данных. Наша политика конфиденциальности
        основана на требованиях
        <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en" target="_blank">
            <u>Общего регламента о защите персональных данных Европейского Союза (GDPR).</u>
        </a>

        Цели, в которых мы собираем персональные данные:
    </p>
    <ul>
        <li>улучшение работы нашего сайта;</li>
        <li>определение пользовательских предпочтений для оптимизации контента сайта и его функциональности;</li>
        <li>сбор статистических данных для оценки популярности отдельных разделов нашего сайта.</li>
    </ul>


    <h4>Сбор и использование персональных данных</h4>

    <p>
        Мы собираем и используем ваши персональные данные только в случае вашего добровольного согласия.
        При согласии с этим вы разрешаете нам собирать и использовать следующие данные:
    </p>
    <ul>
        <li>имя и фамилия</li>
        <li>личная фотография</li>
    </ul>
    <p>
        Сбор и обработка ваших данных проводится соответствии с законами, действующими на территории Европейского Союза.
    </p>

    <h4>Хранение данных, изменение и удаление</h4>

    <p>
        Пользователь, предоставивший свои персональные данные нашему сайту youit.pro имеет право на их изменение и удаление
        (для полного удаления всех персональных данных, свяжитесь с
        администрацией сайта по адресу <a href="#">admin@youit.pro</a>). Срок, в течение которого будут храниться ваши персональные
        данные: время, необходимое для использования данных для основной деятельности сайта. При завершении использования
        ваших данных администрация сайта удаляет их. Мы можем передавать ваши личные данные третьей стороне только с вашего
        добровольного согласия, если они были переданы, то изменение данных в других организациях, не связанных с нами, мы
        осуществить не можем.
    </p>

    <h4>Использование технических данных при посещении сайта</h4>
    <p>
        При посещении вами нашего сайта в базе данных сохраняются записи о вашем IP адресе, времени посещения, настройках браузера,
        операционной системе, а также другая техническая информация необходимая для корректного отображения содержимого сайта. По этим
        данным нам невозможно идентифицировать личность посетителя.
    </p>

    <h4>Предоставление информации детьми</h4>
    <p>
        Если Вы являетесь родителем или опекуном, и вы знаете, что ваши дети предоставили нам свои личные данные без Вашего согласия,
        свяжитесь с нами: <a href="#">admin@youit.pro</a>. На нашем сервисе запрещено оставлять личные данные несовершеннолетних без
        согласия родителей или опекунов.
    </p>

    <h4>Использование cookies</h4>
    При посещении нашего сайта, мы также используем "файлы cookie". Для получения дополнительной
    информации об использовании файлов cookie см. нашу <a href="/cookies">политику относительно файлов cookie</a>.

    <h4>
        Использование персональных данных другими сервисами
    </h4>

    <p>
        На этом сайте используются сторонние интернет-сервисы, осуществляющие независимый от
        нас сбор информации:
    </p>
    <ul>
        <li>Google</li>
        <li>Google Analytics</li>
        <li>Facebook</li>
        <li>Vkontakte</li>
    </ul>
    <p>
        Собранные ими данные могут предоставляться
        другим службам внутри этих организаций, они могут использовать данные для персонализации рекламы
        своей собственной рекламной сети. Вы можете прочитать пользовательские соглашения этих организаций
        на их сайтах. Там же вы можете отказаться от сбора ими персональных данных, к примеру блокировщик
        Google Analytics
        <a rel="nofollow" href="https://chrome.google.com/webstore/detail/block-yourself-from-analy/fadgflmigmogfionelcpalhohefbnehm" target="_blank">
            находится тут.
        </a> Мы не передаем персональные данные
        другим организациям и службам, не указанным в данной политике конфиденциальности. Исключение составляет
        только передача информации при законных требованиях государственных органов уполномоченных осуществлять
        данные действия.
    </p>

    <h4>Ссылки на другие сайты</h4>
    <p>
        Наш сайт youit.pro может содержать ссылки на другие сайты, которые не управляются нами. Мы не несем
        ответственность за их содержание. Мы рекомендуем вам ознакомиться с политикой конфиденциальности каждого
        сайта, который вы посещаете, если она там есть.
    </p>

    <h4>Изменения в политике конфиденциальности</h4>
    <p>
        Наш сайт youit.pro может обновлять нашу политику конфиденциальности время от времени. Мы сообщаем о
        любых изменениях, разместив новую политику конфиденциальности на этой странице. Мы отслеживаем изменения
        законодательства, касающегося персональных данных в Европейском Союзе. Если вы
        оставили персональные данные у нас, то мы оповестим вас об изменении в политике конфиденциальности.
        Если ваши персональные данные были введены не корректно, то мы не сможем с вами связаться.
    </p>

    <h4>Обратная связь, заключительные положения</h4>
    <p>
        Связаться с администрацией сайта youit.pro по вопросам, связанным с политикой конфиденциальности можно
        по адресу: <a href="#">admin@youit.pro</a>, либо с помощью контактной формы указанной в разделе
        <a href="/contacts">Контакты</a>. Если вы не согласны с данной политикой конфиденциальности, вы не можете 
        пользоваться услугами сайта youit.pro, в этом случае вы должны воздержаться от посещения нашего сайта.
    </p>


    <i style="font-size:13px; color:#3d3d3d;">
        Этот документ был изготовлен с помощью
        <a href="https://freecreator.net/gdpr-generator-politiki-konfidencialnosti/" target="_blank" rel="nofollow">
            онлайн конструктора политики конфиденциальности на сайте FreeCreator.net
        </a>
    </i>


</div>

