@{Layout = null;}

    <div id="authorizeModal" class="modal" style="text-align:center;">

        <h2>Авторизация</h2>

        <p style="font-size:16px;">
            Авторизируйтесь на <b>youIT</b> с помощью популярный социальных сетей:
        </p>

        <div class="social-links-auth-wrapper">
            <div>
                <a asp-controller="Account" asp-action="SignInExternal" asp-route-externalProvider="Google" title="Google">
                    @*<i class="fab fa-google" style="color:#ae0303"></i>*@
                    <img src="https://storage.googleapis.com/youit/site/google.png" alt="Google" />
                </a>
            </div>

            <div>
                <a asp-controller="Account" asp-action="SignInExternal" asp-route-externalProvider="Facebook" title="Facebook">
                    <img src="https://storage.googleapis.com/youit/site/facebook.png" alt="Facebook" />
                </a>
            </div>

            <div>
                <a asp-controller="Account" asp-action="SignInExternal" asp-route-externalProvider="VKontakte" title="Vkontakte">
                    <img src="https://storage.googleapis.com/youit/site/vk.png" alt="ВКонтакте" />
                </a>
            </div>
        </div>

        <a href="#" rel="modal:close" style="color:#084a92; text-decoration:underline;">не сейчас</a>
        <p></p>
    </div>