<div class="box footer">
    <div class="social-icons-wrapper">
        social icons
    </div>

    <a href="#">О проекте youIT</a>
    <span>|</span>
    <a href="#">Контакты</a>
    <span>|</span>
    <a href="#">Cookies</a>
    <span>|</span>
    <a href="#">Конфиденциальность</a>
    <span>|</span>
    <a href="#">Условия использования</a>
    <div class="copyright">
        ©2019 youit.co. Все права защищены. Полное или частичное копирование материалов сайта без согласования с редакцией запрещено.
    </div>
</div>