@using Web.Utils;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>youIT - программирование и карьера в IT</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script src="https://kit.fontawesome.com/70be1b95e9.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>

    <div class="header"> </div>
    <div class="wrapper">
        <div class="box top-menu">
            <div class="nav">
                <div class="logo">
                    <a href="/">youIT</a>
                </div>
                <div class="menu">
                    @await Component.InvokeAsync("TopMenu")
                </div>
                <div class="login-bar">
                    <div class="search">
                        <form id="searchForm" method="post" asp-action="Search" class="desktop">
                            <div style="position:relative;">
                                <input id="searchBox" type="text" class="searchTerm" name="term" placeholder="Что ищем?">
                                <a href="#" onclick="searchClick()">
                                    <img src="@Helper.GetImageUrl("search.png")" alt="Искать" />
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="login">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/profile/">@User.Identity.Name</a>
                            <a asp-controller="account" asp-action="signOut"><i class="fas fa-sign-out-alt"></i></a>
                        }
                        else
                        {
                            <span onclick="loadAuthorizeModal()" class="login-link">
                                <img src="@Helper.GetImageUrl("login.png")" alt="Искать" />
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="box sidebar scrollbar">
            @await Component.InvokeAsync("RealTimeComments")
        </div>
        @RenderBody()
        @await Html.PartialAsync("_Footer")
        <script>
            searchClick = () => {
                if (!$('#searchBox').val()) return;
                document.getElementById('searchForm').submit();
            }

            loadAuthorizeModal = () => {
                $('#authorizeModal').modal('show');
            }
        </script>
    </div>
    @await Html.PartialAsync("_Authorize")

    @*@await Html.PartialAsync("_CookieConsentPartial")*@
</body>
</html>