<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>youIT - программирование и карьера в IT</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script src="https://kit.fontawesome.com/70be1b95e9.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>

    <div class="header"> </div>

    <div class="mobile-menu">
        @await Component.InvokeAsync("MobileMenu")
    </div>

    <div class="wrapper">
        <div class="box top-menu">
            <div class="nav">
                <div class="logo">
                    <a href="#" class="mobile-menu-button" onclick="toogleSodeMenu()">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="/Home/Index">youIT</a>
                </div>
                <div class="menu">
                    @await Component.InvokeAsync("TopMenu")
                </div>
                <div class="login-bar">

                    <div class="search" style=" margin-top:-5px; width:200px;float:left;">
                        <form id="searchForm" method="post" asp-action="Search" class="desktop">
                            <div style="position:relative;">
                                <input id="searchBox" type="text" style="font-weight:100;" class="searchTerm" name="term" placeholder="Что ищем?">
                                <a href="#" onclick="searchClick()">
                                    <i class="fa fa-search" style="color:#acacac; position:absolute; right:6px; top:6px;"></i>
                                </a>
                            </div>
                        </form>
                    </div>

                    <div style="float:right;">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Account" asp-action="Profile">@User.Identity.Name</a>
                            <a asp-controller="Account" asp-action="SignOut"><i class="fas fa-sign-out-alt"></i></a>
                        }
                        else
                        {
                            <span onclick="loadAuthorizeModal()" style="color:#adadad; cursor:pointer; font-weight:100;"><i class="fas fa-sign-in-alt"></i>&nbsp;логин</span>
                        }
                    </div>


                    @*<div style="float:left;">
                            @if (User.Identity.IsAuthenticated)
                            {
                            <a asp-controller="Account" asp-action="Profile"><b>@User.Identity.Name</b></a>
                            <a asp-controller="Account" asp-action="SignOut"><i class="fas fa-sign-out-alt"></i></a>
                            }
                            else
                            {
                            <a onclick="loadAuthorizeModal()">логин</a>
                            }
                        </div>


                        <div class="search" style="float:right;">

                        </div>*@

                </div>

            </div>
        </div>
        <div class="box sidebar scrollbar">
            @await Component.InvokeAsync("RealTimeComments")
        </div>

        @RenderBody()

        @await Html.PartialAsync("_Footer")

        <script>
            searchClick = () => {
                if (!$('#searchBox').val()) return;
                document.getElementById('searchForm').submit();
            }

            toogleSodeMenu = () => {
                $('.mobile-menu').toggle();
            }

            loadAuthorizeModal = () => {
                $('#authorizeModal').modal('show');
            }

        </script>
    </div>

    @await Html.PartialAsync("_Authorize")

</body>
</html>
