@model Services.DTOs.PostDto
@using Web.Utils

@{
    int totalCommentsCount = @Model.Comments.Count + @Model.Comments.SelectMany(c => c.Answers).Count();
}

<a id="begin-comments"></a>

<div id="post-comments-form" class="comments-wrapper">


    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            <h5>
                <a href="#" data-bind="click: function() { $('#authorizeModal').modal('show') }">
                    <span style="color:#0026ff; font-size:20px; text-decoration:underline;">Авторизируйтесь</span>
                </a> для участия в дискуссии
            </h5>
        </p>
    }

    <h4>Комментарии (@totalCommentsCount)</h4>

    @if (Model.Comments.Count == 0 && User.Identity.IsAuthenticated)
    {
        <h3>Оставьте комментарий первым!</h3>
    }
    <p></p>
    @if (User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("_CommentForm", new Tuple<string, string, bool, string>(Model.Id, "", false, null))
    }




    @foreach (var comment in Model.Comments)
    {
        @await Html.PartialAsync("_CommentInfo", comment);

        @*<div style="margin-left:65px;">
                @foreach (var answer in comment.Answers)
                {
                    @await Html.PartialAsync("_CommentInfo", answer);
                }
            </div>*@
    }
</div>

<script src="~/js/comments.js"></script>